* text=auto eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.def text eol=lf
*.xaml text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.manifest text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.png binary
*.ico binary
